/*Posioning info:
	z-index:10; highest value
   */

*{
	margin:0;
	padding:0;
}

.clr{
	clear: both;
}
:root{
	--menufont: 20px;
	--mainfont: 20px;
	--h1-padding:25px 0;
	--menu-padding: 15px 0;
	
}
@media (max-width:700px){
	:root{
		--menufont: 15px;
		--mainfont: 18px; 
		--h1-padding:20px 0;
		--buttontransform: scale(0.8);
		--margin-fix: 0px 0px -10px -10px;
		--menu-padding: 13px 0;
	}
}

@media (max-width: 550px){
	:root{
		--h1-padding:15px 0;
		--buttontransform: scale(0.7);
		--margin-fix: 0px 0px -15px -15px;
		--menu-padding: 5px 0; 
	}
}
@media (max-width: 470px){
	:root{
		--h1-padding:5px 0;
		--menufont:10px;
		--mainfont:12px; 
		--buttontransform: scale(0.58);
		--margin-fix: 0px 0px -20px -20px;
		--menu-padding: 5px 0;
		
	}		
}
body{
	
	font-family: 'Open Sans', sans-serif;	
	color: black;
	animation: body 30s linear infinite;	
	animation-fill-mode: forwards;
	background-image: url("snow-first.png"), url("snow-second.png"), url("snow-third.png"); 
}
.main-container{
	margin: auto;
	width: 80%;
	overflow: hidden;
	margin-bottom: 50px;
}
.container{
	margin: auto;
	width: 80%;
	overflow: hidden;

}

iframe{
	
	display: block;
	margin: auto;
	width:60%;
	/* bottom: 31em;
	left:22.5em;   
	this is for video position if wanna make it black*/
}	
.snow{	
	background-image: url("snow-first.png"), url("snow-second.png"), url("snow-third.png");
	animation: snowfall-effect 30s linear infinite;	
	
}
@keyframes snowfall-effect{
	0%{
		background-position: 0px, 0px, 0px, 0px, 0px, 0px;
	}
	100%{
		background-position: 500px, 10000px, 400px, 400px, 300px, 300px;
	}
}

@keyframes body{
	0%{
		background-color: #5ee0a8;
		background-position: 0px, 0px, 0px, 0px, 0px, 0px;
	}
	50%{
		background-color: #338fff;
	}
	100%{
		background-color: #5ee0a8;
		background-position: 500px, 10000px, 400px, 400px, 300px, 300px;
	}
}

h1{
	margin: 1px;
	padding: var(--h1-padding);
}
h1:focus{
	color: yellow;
	outline: none;
}

a{
	color: white;
	text-decoration: none;
	padding:1px;
}
a:focus{
	color:yellow;
}
a:hover{
	text-shadow:0px 0px 10px white;
}
#main-header{
	font-size: var(--mainfont);
	width:100%;	
	text-transform: uppercase;	
	text-align: center;
	vertical-align: middle;
	color:white;
	background-image: linear-gradient(to right,#5ee0a8 10%,#3b52f0);	
	
}
#navbar li{	
	font-size: var(--menufont);
	font-weight: 600;
	letter-spacing: 2px;	
	text-align: center;
	padding: 15px 0;
	padding: var(--menu-padding);
	border: 0.5px solid darkblue;	
	background-image: linear-gradient(to bottom, #5ee0a8, #338fff);	
	margin-bottom:20px;
	width:25%;
	box-sizing:border-box;
}
#navbar ul{
	list-style: none;
	display: flex;
}
#main-footer{
	display: flex;
	justify-content: center;
	bottom: 0;
	width:100%;
	height: 40px;	
	background-color: hsl(0, 0%, 85%);
	background-width: 100%;
	color: grey;		
	box-shadow: 0px -1px 2px black;
	opacity: 0.9;
}
.sticky-container{
	position: sticky;
	position: -webkit-sticky; /*Safari*/
	top: 0;
	z-index: 9;
}
.section{
	border:0.3px solid #ffffff;
	font-weight: 500;
	box-shadow: 3px 2px 4px black;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 25px;
	opacity: 0.6;
	z-index: 1;
	
}
.space-for-video{
	width:560px;
	height:315px;
}

.fixed{
	position: fixed;
	right:0;
	top: 200px;
	opacity: 0.8;
}
.right-button{
	margin: 2% 0px;
	margin: var(--margin-fix);
	text-align: center;
	padding:20px;
	white-space: nowrap;
	border-radius:50%;
	background-color: mediumseagreen;	
	color:white;
	transform:var(--buttontransform);
	
}
.first-page{
	border:4px dotted white;
}
#up{
	position: fixed;
	bottom:20px;
	color:white;	
	right: 30px;
	background-color: green;
	padding:10px;
	font-size: 18px;
	font-weight: bolder;
	border-radius:25%;
	outline: none;
	z-index: 9;
	opacity:0.8;
}
.previous{
	text-decoration: line-through;
	text-decoration-color: white;
	
}

/* on last page rename */
.previous a:hover{
	text-shadow:none;
}
.previous a:focus{
	color:white;
	outline: none;
}

html {
  scroll-behavior: smooth;
}
